body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.character {
  top: 0;
  border: 1px solid black; 
  width: 200px; 
  height: 200px; 
  overflow: scroll;
}

.character:hover{
  cursor: pointer;
}

.create-char{
  width: 100px;
}

.game-table {
  margin-top: 100px;
  height: 200px; 
  width: 50%;

}

.img {
  object-fit: contain 
}

.player-container{
  display: flex; 
  flex-wrap: wrap; 

}

.player-card {
  background: #FF7A59;
  border-image: url('https://wallpaperaccess.com/full/1828795.jpg') 35px;

  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: .2%;
}


.player-card:hover {
  cursor: pointer;
}

.game-table{
  border: 1px solid black;
  height: 350px; 
  width: 150px;
}

